<mat-toolbar color="primary">
  <span> ngx-touch-keyboard </span>
  <sup>
    <small>v{{ version }}</small>
  </sup>

  <div style="flex: 1 1 auto"></div>

  <button
    mat-icon-button
    [matTooltip]="!isDark ? 'Dark' : 'Light'"
    (click)="toggleScheme()"
  >
    <mat-icon>
      {{ !isDark ? "dark_mode" : "light_mode" }}
    </mat-icon>
  </button>

  <a
    mat-icon-button
    matTooltip="Github"
    href="https://github.com/mohsen77sk/angular-touch-keyboard"
  >
    <img
      src="./assets/icons/github-circle-white-transparent.svg"
      width="24"
      height="24"
    />
  </a>
</mat-toolbar>

<main>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Basic sample</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Open with button</p>
      <div class="native-input">
        <input
          type="text"
          ngxTouchKeyboard
          #basicTouchKeyboard="ngxTouchKeyboard"
        />
        <button
          mat-icon-button
          type="button"
          (click)="basicTouchKeyboard.togglePanel()"
        >
          <mat-icon class="mat-icon-rtl-mirror"> keyboard </mat-icon>
        </button>
      </div>

      <div style="margin-bottom: 2rem"></div>

      <span>Open with focus</span>
      <div class="native-input">
        <input
          type="text"
          ngxTouchKeyboard
          #basic2TouchKeyboard="ngxTouchKeyboard"
          (focus)="basic2TouchKeyboard.openPanel()"
          (blur)="basic2TouchKeyboard.closePanel()"
        />
      </div>

      <div style="margin-bottom: 2rem"></div>

      <span>Open with focus (Fullscreen mode)</span>
      <div class="native-input">
        <input
          type="text"
          ngxTouchKeyboard
          ngxTouchKeyboardFullScreen
          #basicFullscreenTouchKeyboard="ngxTouchKeyboard"
          (focus)="basicFullscreenTouchKeyboard.openPanel()"
          (blur)="basicFullscreenTouchKeyboard.closePanel()"
        />
      </div>

      <div style="margin-bottom: 2rem"></div>

      <span>Open with focus (textarea)</span>
      <div class="native-input">
        <textarea
          ngxTouchKeyboard
          #basicTextareaTouchKeyboard="ngxTouchKeyboard"
          (focus)="basicTextareaTouchKeyboard.openPanel()"
          (blur)="basicTextareaTouchKeyboard.closePanel()"
        ></textarea>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Material sample</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Open with button</mat-label>
        <input
          matInput
          type="text"
          ngxTouchKeyboard
          #materialTouchKeyboard="ngxTouchKeyboard"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="materialTouchKeyboard.togglePanel()"
        >
          <mat-icon class="mat-icon-rtl-mirror"> keyboard </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Open with focus</mat-label>
        <input
          matInput
          type="text"
          ngxTouchKeyboard
          #material2TouchKeyboard="ngxTouchKeyboard"
          (focus)="material2TouchKeyboard.openPanel()"
          (blur)="material2TouchKeyboard.closePanel()"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Open with focus (Fullscreen mode)</mat-label>
        <input
          matInput
          type="text"
          ngxTouchKeyboard
          ngxTouchKeyboardFullScreen
          #materiaFullscreenTouchKeyboard="ngxTouchKeyboard"
          (focus)="materiaFullscreenTouchKeyboard.openPanel()"
          (blur)="materiaFullscreenTouchKeyboard.closePanel()"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Open with focus (textarea)</mat-label>
        <textarea
          matInput
          ngxTouchKeyboard
          #materialTextareaTouchKeyboard="ngxTouchKeyboard"
          (focus)="materialTextareaTouchKeyboard.openPanel()"
          (blur)="materialTextareaTouchKeyboard.closePanel()"
        ></textarea>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Material Dialog sample</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p></p>
      <button mat-stroked-button (click)="openDialog()">Launch dialog</button>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Layouts</mat-card-title>
      <mat-card-subtitle>
        Depends on attribute inputmode, the keyboard layout is changed.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p></p>
      <mat-form-field appearance="outline" style="width: auto">
        <mat-label>Language</mat-label>
        <mat-select placeholder="Placeholder" [(value)]="language">
          <mat-option *ngFor="let item of languages" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Default</mat-label>
        <input
          matInput
          type="text"
          [ngxTouchKeyboard]="language"
          #defaultTouchKeyboard="ngxTouchKeyboard"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="defaultTouchKeyboard.togglePanel()"
        >
          <mat-icon class="mat-icon-rtl-mirror"> keyboard </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input
          matInput
          type="text"
          inputmode="search"
          [ngxTouchKeyboard]="language"
          #searchTouchKeyboard="ngxTouchKeyboard"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="searchTouchKeyboard.togglePanel()"
        >
          <mat-icon class="mat-icon-rtl-mirror"> keyboard </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          inputmode="email"
          [ngxTouchKeyboard]="language"
          #emailTouchKeyboard="ngxTouchKeyboard"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="emailTouchKeyboard.togglePanel()"
        >
          <mat-icon class="mat-icon-rtl-mirror"> keyboard </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Url</mat-label>
        <input
          matInput
          type="text"
          inputmode="url"
          [ngxTouchKeyboard]="language"
          #urlTouchKeyboard="ngxTouchKeyboard"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="urlTouchKeyboard.togglePanel()"
        >
          <mat-icon class="mat-icon-rtl-mirror"> keyboard </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Numeric</mat-label>
        <input
          matInput
          type="text"
          inputmode="numeric"
          [ngxTouchKeyboard]="language"
          #numericTouchKeyboard="ngxTouchKeyboard"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="numericTouchKeyboard.togglePanel()"
        >
          <mat-icon class="mat-icon-rtl-mirror"> keyboard </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Decimal</mat-label>
        <input
          matInput
          type="text"
          inputmode="decimal"
          [ngxTouchKeyboard]="language"
          #decimalTouchKeyboard="ngxTouchKeyboard"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="decimalTouchKeyboard.togglePanel()"
        >
          <mat-icon class="mat-icon-rtl-mirror"> keyboard </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Tel</mat-label>
        <input
          matInput
          type="text"
          inputmode="tel"
          [ngxTouchKeyboard]="language"
          #telTouchKeyboard="ngxTouchKeyboard"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="telTouchKeyboard.togglePanel()"
        >
          <mat-icon class="mat-icon-rtl-mirror"> keyboard </mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</main>
