<mat-toolbar>
  <span> ngx-touch-keyboard </span>
  <sup>
    <small>v{{ version }}</small>
  </sup>

  <div style="flex: 1 1 auto"></div>

  <button mat-icon-button [matTooltip]="!isDark ? 'Dark' : 'Light'" (click)="toggleScheme()">
    <mat-icon>
      {{ !isDark ? "dark_mode" : "light_mode" }}
    </mat-icon>
  </button>

  <a mat-icon-button matTooltip="Github" href="https://github.com/mohsen77sk/angular-touch-keyboard">
    <mat-icon>
      <img src="./assets/icons/github-circle-transparent.svg" />
    </mat-icon>
  </a>
</mat-toolbar>

<main>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Basic sample</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Open with button</p>
      <div class="native-input">
        <input type="text" ngxTouchKeyboard [(ngxTouchKeyboardOpen)]="basicSimpleIsOpen" />
        <button mat-icon-button type="button" (click)="basicSimpleIsOpen = !basicSimpleIsOpen">
          <mat-icon class="mat-icon-rtl-mirror"> keyboard </mat-icon>
        </button>
      </div>

      <div style="margin-bottom: 2rem"></div>

      <span>Open with focus</span>
      <div class="native-input">
        <input
          type="text"
          ngxTouchKeyboard
          #basic2TouchKeyboard="ngxTouchKeyboard"
          (focus)="basic2TouchKeyboard.openPanel()"
        />
      </div>

      <div style="margin-bottom: 2rem"></div>

      <span>Open with focus (Fullscreen mode)</span>
      <div class="native-input">
        <input
          type="text"
          ngxTouchKeyboard
          ngxTouchKeyboardFullScreen
          #basicFullscreenTouchKeyboard="ngxTouchKeyboard"
          (focus)="basicFullscreenTouchKeyboard.openPanel()"
        />
      </div>

      <div style="margin-bottom: 2rem"></div>

      <span>Open with focus (textarea)</span>
      <div class="native-input">
        <textarea
          ngxTouchKeyboard
          #basicTextareaTouchKeyboard="ngxTouchKeyboard"
          (focus)="basicTextareaTouchKeyboard.openPanel()"
        ></textarea>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Material sample</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Open with button</mat-label>
        <input matInput type="text" ngxTouchKeyboard [(ngxTouchKeyboardOpen)]="materialSimpleIsOpen" />
        <button mat-icon-button matSuffix type="button" (click)="materialSimpleIsOpen = !materialSimpleIsOpen">
          <mat-icon class="mat-icon-rtl-mirror"> keyboard </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Open with focus</mat-label>
        <input
          matInput
          type="text"
          ngxTouchKeyboard
          #material2TouchKeyboard="ngxTouchKeyboard"
          (focus)="material2TouchKeyboard.openPanel()"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Open with focus (Fullscreen mode)</mat-label>
        <input
          matInput
          type="text"
          ngxTouchKeyboard
          ngxTouchKeyboardFullScreen
          #materiaFullscreenTouchKeyboard="ngxTouchKeyboard"
          (focus)="materiaFullscreenTouchKeyboard.openPanel()"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Open with focus (textarea)</mat-label>
        <textarea
          matInput
          ngxTouchKeyboard
          #materialTextareaTouchKeyboard="ngxTouchKeyboard"
          (focus)="materialTextareaTouchKeyboard.openPanel()"
        ></textarea>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Material Dialog sample</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p></p>
      <button mat-stroked-button (click)="openDialog()">Launch dialog</button>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Layouts</mat-card-title>
      <mat-card-subtitle> Depends on attribute inputmode, the keyboard layout is changed. </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p></p>
      <mat-form-field appearance="outline" style="width: auto">
        <mat-label>Language</mat-label>
        <mat-select placeholder="Placeholder" [(value)]="language">
          @for (item of languages; track item.value) {
          <mat-option [value]="item.value">
            {{ item.name }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Default</mat-label>
        <input
          matInput
          type="text"
          ngxTouchKeyboard
          [ngxTouchKeyboardLocale]="language"
          #defaultTouchKeyboard="ngxTouchKeyboard"
        />
        <button mat-icon-button matSuffix type="button" (click)="defaultTouchKeyboard.openPanel()">
          <mat-icon class="mat-icon-rtl-mirror"> keyboard </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input
          matInput
          type="text"
          inputmode="search"
          ngxTouchKeyboard
          [ngxTouchKeyboardLocale]="language"
          #searchTouchKeyboard="ngxTouchKeyboard"
        />
        <button mat-icon-button matSuffix type="button" (click)="searchTouchKeyboard.openPanel()">
          <mat-icon class="mat-icon-rtl-mirror"> keyboard </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          inputmode="email"
          ngxTouchKeyboard
          [ngxTouchKeyboardLocale]="language"
          #emailTouchKeyboard="ngxTouchKeyboard"
        />
        <button mat-icon-button matSuffix type="button" (click)="emailTouchKeyboard.openPanel()">
          <mat-icon class="mat-icon-rtl-mirror"> keyboard </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Url</mat-label>
        <input
          matInput
          type="text"
          inputmode="url"
          ngxTouchKeyboard
          [ngxTouchKeyboardLocale]="language"
          #urlTouchKeyboard="ngxTouchKeyboard"
        />
        <button mat-icon-button matSuffix type="button" (click)="urlTouchKeyboard.openPanel()">
          <mat-icon class="mat-icon-rtl-mirror"> keyboard </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Numeric</mat-label>
        <input
          matInput
          type="text"
          inputmode="numeric"
          ngxTouchKeyboard
          [ngxTouchKeyboardLocale]="language"
          #numericTouchKeyboard="ngxTouchKeyboard"
        />
        <button mat-icon-button matSuffix type="button" (click)="numericTouchKeyboard.openPanel()">
          <mat-icon class="mat-icon-rtl-mirror"> keyboard </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Decimal</mat-label>
        <input
          matInput
          type="text"
          inputmode="decimal"
          ngxTouchKeyboard
          [ngxTouchKeyboardLocale]="language"
          #decimalTouchKeyboard="ngxTouchKeyboard"
        />
        <button mat-icon-button matSuffix type="button" (click)="decimalTouchKeyboard.openPanel()">
          <mat-icon class="mat-icon-rtl-mirror"> keyboard </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Tel</mat-label>
        <input
          matInput
          type="text"
          inputmode="tel"
          ngxTouchKeyboard
          [ngxTouchKeyboardLocale]="language"
          #telTouchKeyboard="ngxTouchKeyboard"
        />
        <button mat-icon-button matSuffix type="button" (click)="telTouchKeyboard.openPanel()">
          <mat-icon class="mat-icon-rtl-mirror"> keyboard </mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</main>
