// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$touch-keyboard-primary: mat.define-palette(mat.$indigo-palette);
$touch-keyboard-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$touch-keyboard-warn: mat.define-palette(mat.$red-palette);
$typography: mat.define-typography-config();

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $touch-keyboard-primary,
      accent: $touch-keyboard-accent,
      warn: $touch-keyboard-warn,
    ),
    typography: $typography,
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $touch-keyboard-primary,
      accent: $touch-keyboard-accent,
      warn: $touch-keyboard-warn,
    ),
    typography: $typography,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($light-theme);

body.dark {
  @include mat.all-component-colors($dark-theme);
}

/* HTML and Body default styles */
html,
body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

html {
  font-size: 16px;
}

body {
  font-size: 0.875rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
